.row {
    margin-left: 10px;
    margin-right: 10px;
}


.card {
    margin-top: 15px;
    margin-bottom: 15px;
}

.card-body {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-title {
    margin-left: 5px;
    margin-right: 5px;
}

.card-text {
    margin-left: 5px;
    margin-right: 5px;
}